#grandParent{

    margin: 20px;
    background-color: rgb(255, 196, 232);
    padding: 25px;

    border-color: black;
    border-style:dashed;
    border-width: 5px;
    text-align: center;
}

#parent{

    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
    border-color: black;
    border-style:dashed;
    border-width: 5px;
    text-align: center;

}

#child{

    border-color: black;
    border-style:dashed;
    border-width: 5px;
    margin: 20px;
    background-color: bisque;
    padding: 25px;
    text-align: center;
}